<!doctype html>
<html lang="en">

<head>
<title>Welcome to MyDuniya</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="../static/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="../static/css/owl.theme.css">
<link rel="stylesheet" href="../static/css/owl.carousel.css">
<script src="../static/js/jquery-1.9.1.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>
<script src="../static/js/owl.carousel.js"></script>

<script type="text/javascript">


$(document).ready(function(){
    $("a").click(function(){

    	$(this).css("border-color","#32aae1");

        
    });

  
});

// var x=1;
/*
    $(document).ready(function() {
    $('#btn').click(function() {
        //var user = $('#txtUsername').val();
        //var pass = $('#txtPassword').val();
        $.ajax({
            url: '/farji',
            data: $('form').serialize(),
            type: 'POST',
            success: function(response) {
                console.log(response);
                console.log("happy now");
                console.log("happy now");
                console.log("happy now");
                console.log("happy now");
                console.log("happy now");
                console.log("happy now");

            },
            error: function(error) {
                console.log(error);
            }
        });
    });
});

*/

        $(document).ready(function(){

       //     var i;
            var store=new Array();
             {
                $('.cp-sidebar-content a').click(function () {

                    store.push($(this).text());
                    //console.log(store);

                })


            }



                    $('#btn').click(function() {
                        //var user = $('#txtUsername').val();
                        //var pass = $('#txtPassword').val();

                        $.ajax({
                            url: '/receive_keywords',
                            data: {json_str: JSON.stringify(store)},
                            type: 'POST',
                            success: function(response) {
                              console.log(response);
                              // console.log("happy now");
                              //  console.log( JSON.stringify(store) );

                            },
                            error: function(error) {
                                console.log(error);
                            }
                        });
                    });





        });
















    var storeArray=new Array();
         $.ajax({
            type:'GET',
            url:'/keywords',
            success:function(data, textStatus, xhr){
                 $.each(data['keywords'], function(i, el)
                    {

                        storeArray[i]=new Array(el.id,el.key_name);

                    });


                    for(i=1;i<100;i++)
                    {
                        $(".cp-sidebar-content").append('<a' + " >" + storeArray[i][1] + "<" +"/a>");
                    }


            },
            error: function(){
                    alert("error loading keywords");
                }


        });






$(document).ready(function(){
    $(window).scroll(function() {
            if($(window).scrollTop() == $(document).height() - $(window).height()) {

                 $.ajax({
            type:'GET',
            url:'/keywords',
            success:function(data, textStatus, xhr){
                 $.each(data['keywords'], function(i, el)
                    {

                        storeArray[i]=new Array(el.id,el.key_name);

                    });


                    for(i=100;i<200;i++)
                    {
                        $(".cp-sidebar-content").append('<a' + " "+ "id=" + i + " >" + storeArray[i][1] + "<" +"/a>");
                    }


            },
            error: function(){
                    alert("error loading keywords");
                }


        });










            }
        });


});



</script>

<link rel="stylesheet" href="../static/css/preference.css">

</head>


<body>
	
	<div class="nav1">

		<ul id="left">
			<li id="home"><a href="../personal">Home</a></li>
			<li><a href="../news">News</a></li>
			<li><a href="../contact">Contact</a></li>
		</ul>
		<ul id="right">
			<li><a href="../logout"><i class="fa fa-sign-out fa-fw"></i>Logout</a></li>
			<li><a><i class="fa fa-male-in fa-fw"></i>Welcome</a></li>
		</ul>

	</div>


<div class="header">
	
		<img src="../static/header.png" alt="logo">

<!--	<div id="heading">
			<h1>MyDuniya</h1>
	</div>
	-->
</div>


    <div class="nav2">
        <ul>
            <li><a href="../personal">HOME</a></li>
            <li><a href="/tagnews/music">MUSIC</a></li>
            <li><a href="/tagnews/lifestyle">LIFESTYLE</a></li>
            <li><a href="/tagnews/sports">SPORTS</a></li>
            <li><a href="/tagnews/tech-reviews">TECH REVIEWS</a></li>
            <li><a href="/tagnews/education">EDUCATION</a></li>
            <li><a href="/tagnews/travel">TRAVEL</a></li>
            <li><a href="/tagnews/business">BUSINESS</a></li>
            <li><a href="/tags">CATEGORIES</a></li>
            <li><a href="../contact">CONTACT</a></li>
            <li id="search"><a href="#">SEARCH</a></li>
        </ul>
    </div>


<div class="widget tags-widget">
		<div class="head">
			<h3 class="side-title">Choose Your Tags</h3>
           <!-- <input type="text" placeholder="Enter Twitter Username" id="type"> -->
            <form id="myform" method="post" action="false" role="form">
             <input type="hidden" name="name" value="value" />
              <a onclick="document.getElementById('myform').submit();" href=" " class="button" id="btn">DONE</a>
                <!--<a href=" " class="button" id="btn">DONE</a>-->
            </form>

            <!--<a href=" " class="button" id="btn">DONE</a>
                    -->
		</div>



                <div class="cp-sidebar-content">



				</div>
</div>


</body>


</html>
