<!doctype html>
<html lang="en">

<head>
<title>Welcome to MyDuniya</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="../static/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="../static/css/owl.theme.css">
<link rel="stylesheet" href="../static/css/owl.carousel.css">
<script src="../static/js/jquery-1.9.1.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>
<script src="../static/js/owl.carousel.js"></script>
<script>




   $(document).ready(function() {


        var value=new Array();
             var frm=0;
          var tll=3;


     $.ajax({
                type:'GET',
                url:"/get_tweets",
                success:function(data, textStatus, xhr) {
                    console.log(data);

                    for (var prop in data['tweets'])
                    {
                        value[i] = data['tweets'][prop];
                        console.log(value[0]);
                    }
                    console.log(value[0]['author_url']);

{#                    $.each(data['tweets'], function(i, el)#}
{#                    {#}
{##}
{#                        storeArray[i]=new Array(el.author_name, el.author_url, el.html, el.url);#}
{#                        console.log(storeArray);#}
{#                    });#}
{#                    console.log(storeArray);#}
{#                    console.log(storeArray[1][1]);#}
{#                },#}
{#                error: function(){#}
{#                    alert("error loading news");#}
{#                }#}
{#            });#}

}
});
});



</script>

</head>



<body>
asdfghjhcx
</body>


</html>